<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flickr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <script src="application.js" charset="utf-8"></script> -->

    <style>
      
      h1 {
        color: blue;
        text-align: center;
      }


      #image-container {
        left: -300px;
        text-align: center;
        position: relative;
      }
      img {
        position: absolute;;
        height: 500px;
        width: 50%;
        border: 2px solid;
        border-radius: 5%;
      }


    </style>
  </head>
  <body>


    <h1>Surfing and Waves</h1>

    <br>
    <br>
    <br>

    <div id="image-container" class="text-center">
        <img id="image" src="https://s-media-cache-ak0.pinimg.com/736x/87/e1/79/87e1799297000c872e2748da59e9a0fd.jpg"/> 
    </div>

  </body>
</html>